
<head>
    <header><h1>Education</header></h1>
        <link type="text/css" media="all" href="../MyInfo.css" rel="stylesheet" />
<div id="Home">

    <body>
		<h2>Elementary:Apolinario Mabini Elementary School</h2>
		<h2>Bangkal Davao City</h2>
		<h2>Year Attended 2006 - 2011</h2>
		<h2>Secondary:Davao City National High School</h2>
		<h2>Bangkal Davao City</h2>
		<h2>Year Attended 2011 - 2015</h2>	
		<h2>Tertiary:Bachelor of Science in Information Technology
		<h2>University of Southeastern Philippines</h2>	
		<h2>B.O. Obrero Davao City</h2>
		<h2>2015-Present</h2>
		</h2>
		
	
    </body>
</head>
</html>