body{
    margin 0;
}
 #home{
     
    
    background-image: url("back1.jpg");
  display:block;
  align-self: auto;
}  

div4.content
{
border-style:outset;
top:300px;
left:30px;
position:absolute;
background-color:rgb(37, 139, 134);
height:700px;
width:1175px;
overflow-y:auto;
}

div2.Prof{
 color: white;   
}

.Image img{
    border-radius: 50%;
	height: 300px;
    width: 300px;
	display: block;
    margin-top: 70;
    margin-left: 250;
    margin-right: 50;
    margin-bottom: 50;
    vertical-align:left;
}
pro.content
{
border-radius: 5%;
border-style:outset;
border-color: rgb(10, 97, 97);
top:30px;
left:560px;
position:absolute;
background-color:lightgray;
height:600px;
width:750px;
overflow-y:auto;
font-family: Courier, monospace;


}

h1{
    text-align: center;
    font-size: 30px;
}
h3{
    margin-top: 30px;
    color: rgb(24, 141, 125);
    font-size: 20px;
    font-family: Courier, monospace;
    text-align: center;
    
        
}
div.text{
    color: rgb(24, 141, 125);
    top:400px;
    left:370px;
    position:absolute;
    background-color:lightgray;
    height:84px;
    width:180px;
    overflow-y:auto;
    font-size: 20px;
    
}

.tab{
    width: 350px;
	padding: 15px;
	color: black;
  background-color:rgb(24, 141, 125);
  font-weight: bold;
  font-size: 150%;
  text-transform: ;
  border: 3px double rgb(24, 141, 125);
  border-top-color:rgb(24, 141, 125);
  border-left-color: rgb(24, 141, 125);
  text-align: left;
  margin-bottom: 20px;
  font-family: Courier, monospace;
}
.tab:hover{
    background-color:burlywood;
    cursor: pointer; 
}

div10.but{
border-style:none;
border-color: rgb(10, 97, 97);
top:30px;
left:20px;
position:absolute;
background-image: url("back1.jpg")
height:450px;
width:500px;
overflow-y:auto;
font-family: Courier, monospace;

}

  